.container{
    margin: auto;
    text-align: center;
    padding: 40px;
    background-color: black;
}
#card {
    margin: auto;
    background-color: white;
    height: 500px;
    width: 500px;
}

h1 {
    font-size: 100px !important;
}

button {
    width: 20%;
}
